.hero-image{
	position: relative;
	height: 500px;
	overflow: hidden;
	background: url(../img/artista/5.jpg);
	background-size: cover;
	background-position: center;
}

.container_banner{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	text-align: center;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
}

.container_banner h1{
	font-size: 60px;
	letter-spacing: 0.2em;
	margin:0;
}


.container_banner h1 span{
	border:10px solid white;
	padding: 7px 14px;
	display: inline-block;
}

.des{
	margin: 20px;
	display: block;
	font-size: 20px;
}

@media (max-width: 700px){
	.container_banner h1{
		font-size: 40px;
	}

	.des{
	font-size: 15px;
	}
}

@media (max-width: 300px){
	.container_banner h1{
		font-size: 20px;
	}

	.des{
	font-size: 10px;
	}
}